@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

.entry-title {
    font-size: 32px;
    color: #444;
    text-align: center;
	}

.select-style select {	
width:200px;
}
.search-tag select {	
width:200px;
}
.search-author select {	
width:200px;
}

#select {
    border: 1px solid #ccc;
    width: 90%;
    border-radius: 3px;
    overflow: hidden;
    padding: 7px;
	font-size:13px;
}
 #select:focus {
    outline: 1px solid #58C9F3 !important;
}


#main-search-form a, ul, li {
    list-style: none;
    text-decoration: none !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}


#main-search-form  li > ul, li > ol, blockquote > ul, blockquote > ol {
    margin-right: 0 !important;
    margin-left: 0 !important;
	padding:0!important;
}

#main-search-form {
    width: 600px;
    float: none;
    margin: auto;
	text-align:center !important;
}

#loadingmessage {
float:left;
width:100%;
}


#box1 {
float:left;
width:33%;
}
#box2 {
float:left;
width:33%;
}
#box3 {
float:left;
width:33%;
}
#box4{
float:left;
width:33%;

}
#box5 {
float:left;
width:33%;

}
#box6 {
float:left;
width:33%;
}
#main-search-form input[type="submit"] {
    width: 88% !important;
    border-radius: 3px !important;
    border: 1px solid #ccc !important;
	padding: 9px !important;
	margin: 14px 0 0 9px !important;
    color: #777 !important;
    transition: all 0.2s ease-out !important;
    font-family: Roboto-Light !important;
	background:#fff !important;
	font-weight:0 !important;
	text-transform: none !important;
	vertical-align: none !important;
	line-height: 1.5 !important;
        font-weight: normal !important;
}

#main-search-form input[type="submit"]:hover {
    cursor: pointer;
    border: 1px solid #777;
    color: #444;
}

.search-loading-img img{
    float:none;
    margin:auto;
	display:block;
	text-align:center;
}

#search-entry {
    width: 94% !important;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 16px;
    padding: 7px;
    transition: all 0.2s ease-out;
    font-family: Roboto-Light;
}

#search-entry:focus {
    border: 1px solid #58C9F3;
}

#date-entry {
    border-radius: 3px;
	width: 28% !important;
    border: 1px solid #ccc;
    padding: 7px;
    transition: all 0.2s ease-out;
    font-family: Roboto-Light;
    font-size: 12px;
	text-align:left;
	float:left;
	margin: 10px 5px 5px auto;
}

#date-entry:focus {
    border: 1px solid #58C9F3;
}


.cat-label {
    color: #665E67;
    font-size: 15px;
    padding-bottom: 3px;
    font-family: Roboto-Light;
}

.tag-label {
    color: #665E67;
    font-size: 15px;
    padding-bottom: 3px;
    font-family: Roboto-Light;
}

.author-label {
    color: #665E67;
    font-size: 15px;
    padding-bottom: 3px;
    font-family: Roboto-Light;
}

#ajax-response {
    margin: auto;
    padding: 10px 0 10px 0;
    float: left;
    width: 100%;
}

#search-title {
    text-align: center;
    padding: 10px 0 10px 0;
    color: #777;
    font-family: Roboto-Light;
    font-size: 16px;
}

.search-me-post {
	float:left;
    margin: 30px 17px 5px 5px;
    width: 170px;
    height: 130px;
    overflow: hidden;
    font-family: Roboto-Light;
    font-size: 12px;
    border: 1px solid #ccc;
	padding:3px;
}

.search-me-post a {
    font-family: Roboto-Light;
    font-size: 12px;
	color:#555 !important;
box-shadow:none !important;
border:none !important;
}
.search-me-post a:hover {
	text-decoration:none !important;
box-shadow:none !important;
}
.search-me-post-img {
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.search-me-post-img img {
    width: 100%;
    height: auto;
}

.archive-search-me {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 20px;
}

.archive-search-me a {
    padding: 7px !important;
    margin: 10px 0 0 0;
    border: 1px solid #ccc !important;
    font-family: Roboto-Light;
    font-size: 12px;
	color:#777 !important;
    transition: all 0.2s ease-out;
    border-radius: 3px;
text-decoration: none !important;
-webkit-box-shadow: none #fff!important;
box-shadow: none !important;
}

.archive-search-me a:hover {
    border: 1px solid #58C9F3 !important;
    color: #444;
	text-decoration:none !important;
	-webkit-box-shadow: 0!important;
	box-shadow: 0!important;
}


@media (max-width: 990px) {

#main-search-form {
    width:90%;
     padding:0;
margin:auto;
float:none;
}

    .search-me-post {
        display: inline-block;
        margin: 20px auto 20px auto;
        width:98%;
    height: auto;
    }
#date-entry {
    border-radius: 3px;
    width: 32% !important;
    border: 1px solid #ccc;
    padding: 7px;
    transition: all 0.2s ease-out;
    font-family: Roboto-Light;
    font-size: 12px;
    text-align: left;
    float: left;
	}
	
 #search-entry {
    width: 100% !important;
	margin:20px auto 20px auto;
	}
#main-search-form input[type="submit"] {
    width: 100% !important;
    float:none;
    margin: 14px 0 0 0 !important;
}
	
#box1 {
	float:none;
	margin:auto;
	width:100%;
}
#box2 {
	float:none;
	margin:auto;
width: 100%;
}
#box3 {
	float:none;
	margin:auto;
width: 100%;
}
#box4{
	float:none;
	margin:auto;
width: 100%;

}
#box5 {
	float:none;
	margin:auto;
width: 100%;

}
#box6 {
	float:none;
	margin:auto;
width: 100%;
}

}

@media (max-width: 690px) {

#date-entry {
    border-radius: 3px;
    width: 100% !important;
    border: 1px solid #ccc;
    padding: 7px;
    transition: all 0.2s ease-out;
    font-family: Roboto-Light;
    font-size: 12px;
    text-align: left;
    float: left;
	}
	
	}


